<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @profile_introduction.profile_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @profile_introduction.body %>
</p>

<%= link_to 'Edit', edit_profile_introduction_path(@profile_introduction) %> |
<%= link_to 'Back', profile_introductions_path %>
