<p class="profile-name">
  <%= @profile.user.first_name %> <%= @profile.user.last_name %>
</p>

<p class="profile-short-bio">
  <% if @user_is_owner_of_profile %>
      <%= @profile.short_bio || 'Add a short biography' %>
      <a href="#"><span class="glyphicon glyphicon-edit edit-icon hidden-xs"></span></a>
  <% else %>
      <%= @profile.short_bio %>
  <% end %>
</p>

<p class="profile-location">
  <% if @user_is_owner_of_profile %>
      <span class="glyphicon glyphicon-map-marker hidden-xs"></span>
      <%= @profile.location || 'Add a location' %>
      <a href="#"><span class="glyphicon glyphicon-edit edit-icon hidden-xs"></span></a>
  <% elsif @profile.location %>
      <span class="glyphicon glyphicon-map-marker hidden-xs"></span>
      <%= @profile.location %>
  <% end %>
</p>