<% provide(:title, 'Welcome') %>

<div class="container">
  <!--<h2>We can't wait to know more about you!</h2>-->

  <%= form_for @profile, html: {class: 'form-horizontal', id: 'profile-form'} do |f| %>
      <% if @profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

            <ul>
              <% @profile.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <!--Geographic-->
      <div class="row registration-section">
        <div class="section-header">
          <div class="big-header">
            <p>Hey, Welcome to ConNextor</p>
          </div>
        </div>

        <div class="col-sm-4 col-sm-push-8 side-description">
          <p class="title">Step 1 of 3</p>
          <p class="text">Knowing where you are from will get you better connections with those who came from the same place</p>
        </div>

        <div class="col-sm-8 col-sm-pull-4 section-form-container">
          <%= render 'edit_geographic', f: f %>
        </div>
      </div>


      <!--Interests-->
      <div class="row registration-section">
        <div class="section-header">
          <div class="row big-header">
            <p>What do you see yourself doing?</p>
          </div>
        </div>

        <div class="col-sm-4 col-sm-push-8 side-description">
          <p class="title">Step 2 of 3</p>
          <p class="text">After choosing the field you are interested in, we will give you better sponsors about ideas or projects</p>
        </div>

        <div class="col-sm-8 col-sm-pull-4 section-form-container">
          <div class="checkbox-field">
            <%= fields_for @profile.user do |user_fields| %>
                <%= render 'edit_interests', f: user_fields %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
  <!--End of Form-->
  <!--Submit button separately, at the bottom-->


  <!--Skills, separate Form for AJAX-->
  <div class="row registration-section">
    <div class="section-header">
      <div class="big-header">
        <p>What can you do?</p>
      </div>
    </div>

    <div class="col-sm-4 col-sm-push-8 side-description">
      <p class="title">Step 3 of 3</p>
      <p class="text">What are you top skills? e.g HTML, Ruby, Public Speaking, Graphic Design, Content Creation</p>
    </div>

    <div class="col-sm-8 col-sm-pull-4 section-form-container">
      <div class="skill-blocks">
        <%= render 'edit_skills', list_of_user_to_skills: @profile.user.user_to_skills %>
      </div>
    </div>
  </div>

  <!--Thank you-->
  <div class="row registration-section">
    <div class="thanks-section">
      <p>Thanks!</p>

      <!--Submit (linked by Javascript)-->
      <input type="submit" name="finish" class="btn-upright" onclick="submitProfile()" />
    </div>
  </div>
</div>
