<div class="container">
<!--    <h2>Welcome to ConNextor!</h2> -->

  <%= form_for @profile, html: {class: 'form-horizontal'} do |f| %>
      <% if @profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

            <ul>
              <% @profile.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row main-section">
        <div class="col-md-6 textinput-area">
         <%= render 'edit_geographic', f: f %>
        </div>


      <!--User Fields-->
        <div class="col-md-6 check-box-area">
          <%= fields_for @profile.user do |user_fields| %>
              <p>Interests:</p>
              <%= render 'edit_interests', f: user_fields %>
              <p>Skills:</p>
              <%= render 'edit_skills', f: user_fields %>
          <% end %>
        </div>
      </div>

      <div class="form-group submit">
        <div class="row">
          <%= f.submit 'Submit', name: 'finish', class: 'btn-upright' %>
        </div>
      </div>

      <div class="skip">
        <%= link_to 'Skip', @profile %>
      </div>
  <% end %>

</div>