<p id="notice"><%= notice %></p>

<div class="cover-photo">
  <div class="container profile-header">
    <div class="col-md-offset-1 col-md-2">
      <%= image_tag 'team/david-resized.png', class: 'profile-photo' %>
    </div>
  </div>
</div>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>School:</strong>
  <%= @profile.school %>
</p>

<p>
  <strong>Short bio:</strong>
  <%= @profile.short_bio %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
