<div class="header">
  <div class="cover-photo" style="background-image: url(<%= image_path('cats/abstract-background.jpg') %>)">
    <div class="container header-container">
      <div class="col-sm-3 profile-photo-container">
        <%= image_tag 'cats/cat-profile.jpg', class: 'profile-photo' %>
      </div>
      <div class="col-sm-9 hidden-xs info-container beside-profile-photo">
        <%= render 'profile_header_info' %>
      </div>
    </div>
  </div>
  <div class="container profile-tabs">
    <!--<div class="col-sm-offset-3 col-sm-9 hidden-xs tabs-columns">-->
      <!--<ul class="nav nav-tabs">-->
        <!--<li role="presentation" class="active"><a href="#">link1</a></li>-->
        <!--<li role="presentation"><a href="#">link2</a></li>-->
        <!--<li role="presentation"><a href="#">link3</a></li>-->
        <!--<li role="presentation"><a href="#">link4</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
  <div class="info-container text-center visible-xs-block">
    <%= render 'profile_header_info' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9" role="main">
      <%= render 'introductions' %>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
      <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#experiences">Experiences</a></li>
      </ul>
    </div>
  </div>

  <%= link_to 'Back', profiles_path %>

</div>