<%= form_for @task, :url => url_for(:controller => 'tasks', :action => 'create') do |f| %>
  <div>
    <%= f.hidden_field :project_id, value: params[:project_id] %>
    <%= f.hidden_field :completed, value: false %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :due_on %>
    <%= f.text_field :due_on %>
  </div>

<!--   <div>
    <%#= f.label :assigned_to %>
    <%#= f.text_field :assigned_to %>
  </div> -->

  <div>
    <%= f.label :created_by %>
    <%= f.select :created_by, @core_members.collect{ |u| [u.first_name , u.id] } %>
  </div>

  <%= f.submit %>
<% end %>