<%= render @task %>

<!-- need to authorize -->
<% if !@task.completed && @has_project_permission %>
  <%= link_to 'edit', edit_project_task_path(@task.project_id, @task.id) %>
<% end %>

<% if @task.assigned_to && @has_project_permission && @user_to_task %>
  <%= form_for @user_to_task do |f| %>
    <%= f.select :status, @statuses.collect{ |u| [ u, u ] } %>  
    <p class="button"><%= f.submit "Change status" %></p>
  <% end %>
<% end %>