<h1><%= @task.title %></h1>

<p>Description: <%= @task.description %></p>

<p>Assigned_to <%= @task.assigned_to %></p>

<p>Created_by: <%= @task.created_by %></p>

<p>Project_id <%= @task.project_id %></p>

<p>Completed: <%= @task.completed %></p>