<% project_post ||= @project_post %>

<%= form_for project_post, remote: @project_post ? false : true do |f| %>

  <div class="field">
    <%# f.hidden_field :project_id, value: params[:project_id] %>
    <%# f.hidden_field :project_id, value: project_post.project_id %>
    <%= f.hidden_field :project_id %>
  </div>
  <!--<div class="field">-->
    <%# f.hidden_field :user_id, value: current_user_id %>
  <!--</div>-->
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
