<p id="notice"><%= notice %></p>

<h1>Listing Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Actor ID</th>
      <th>Verb</th>
      <th>Notification Type</th>
      <th>Message</th>
      <th>Link</th>
      <th>Is Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.actor_id %></td>
        <td><%= notification.verb %></td>
        <td><%= notification.notification_type %></td>
        <td><%= notification.message %></td>
        <td><%= notification.link %></td>
        <td><%= notification.isRead %></td>
        <td><%= link_to 'Show', user_notification_path( current_user_id, notification.id ) %></td>
        <td><%= link_to 'Destroy', user_notification_path( current_user_id, notification.id ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>