<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_task.project_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @project_task.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project_task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_task.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @project_task.state %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project_task) %> |
<%= link_to 'Back', project_tasks_path %>

<h3>Users</h3>
<ul>
  <%= render @project_task.user_to_project_tasks %>
</ul>

<% if @user_to_project and @is_owner %>
    <%= link_to 'Manage Users', user_to_project_tasks_path(project: @project_task.project, project_task: @project_task) %>
<% end %>