<% provide(:title, 'Sign Up') %>

<div class="container registration-section">
    <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>

        <div class="row section-container">
          <div class="section-header">
            <div class="big-header">
              <p>Kick Start Your Journey?</p>
            </div>
          </div>

          <div class="col-sm-4 col-sm-push-8 side-description">
            <p class="title">Sign up!</p>
            <p class="text">ConNextor is fun!</p>

            <!--Errors-->
            <% if @user.errors.any? %>
                <div class="error_messages">
                  <!--<p>Oops, something seems wrong</p>-->
                  <% @user.errors.full_messages.each do |message| %>
                      <p class="error_message"><%= message %></p>
                  <% end %>
                </div>
            <% end %>
          </div>

          <div class="col-sm-8 col-sm-pull-4 section-form-container">
            <%= render 'users/form_username_email', f: f %>
            <%= render 'users/form_first_last_name', f: f %>
            <%= render 'users/form_password', f: f %>
          </div>

          <div class="row text-center">
            <%= f.submit 'Submit', name: 'finish', class: 'btn-upright' %>
          </div>
        </div>
    <% end %>
</div>
