<% provide(:title, "Sign Up") %>

<h1>Sign up</h1>

<%= form_for :user, url: users_path do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "#{@user.current_step}_step", :f => f %>
  
  <p class="button"><%= f.submit "Continue" %></p>
  <p class="button"><%= f.submit "Back", name: "back_button" unless @user.first_step? %></p>
<% end %>


