<% provide(:title, 'Sign Up') %>

<div class="container">
    <%= form_for :user, url: users_path, html: {class: 'form-horizontal'} do |f| %>

        <div class="row col-md-8 col-md-offset-2 registration-section">
          <div class="section-header">
            <div class="big-header">
              <p>Kick Start Your Journey?</p>
            </div>
          </div>

         <!-- <div class="col-sm-4 col-sm-push-8 side-description">
             <p class="title">Sign up!</p>
            <p class="text">ConNextor is fun!</p> -->

            <!--Errors-->
            <% if @user.errors.any? %>
                <div class="error_messages">
                  <!--<p>Oops, something seems wrong</p>-->
                  <% @user.errors.full_messages.each do |message| %>
                      <p class="error_message"><%= message %></p>
                  <% end %>
                </div>
            <% end %>
    

          <div class="col-sm-8 col-sm-offset-2 section-form-container">


             <%= render 'users/form_first_last_name', f: f %>
            <%= render 'users/form_username_email', f: f %>
          
                
        
            <% if @identity and @user.profile %>
                <%= f.hidden_field :identity_id, value: @identity.id %>
                <%= f.hidden_field :profile_id, value: @user.profile.id %>
            <% else %>
                <%= render 'users/form_password', f: f %>
            <% end %>
         

            <div class="form-group">
            <div class= "col-xs-9 col-xs-offset-1">
                 <%= f.submit 'Sign in', name: 'finish', class: 'btn-inverse btn-signup' %>
            </div>
            </div>
          </div>
        </div>
    <% end %>
</div>
