<h1>Configure Asana Integration</h1>

<%= form_for :asana_project, url: asana_integrate_path do |f| %>
  <%= f.hidden_field :asana_user_id, :value => @asana_user_id%>
  <h2> Choose your Asana Workspace </h2>
  <%= f.select :workspace_id, @workspaces['data'].collect{ |u| [ u['name'], u['id'] ] } %>
 
  <h2> Choose your current project </h2>
  <%= f.select :project_id, @projects.collect{ |u| [u.title, u.id] } %>
    
  <p class="button"><%= f.submit "Integrate" %></p>
<% end %>