<div class="element-experience" id="experience-new">
  <%= form_for profile_experience, remote: true do |f| %>
      <%= f.hidden_field :profile_id %>
      <%= f.text_field :name, placeholder: 'Name', class: 'experience-edit-text input-upright' %>
      <%= f.text_field :position, placeholder: 'Position', class: 'experience-edit-text input-upright' %><br>
      <%= f.text_field :from_date, placeholder: 'From', class: 'experience-edit-date input-upright' %>
      <%= f.text_field :to_date, placeholder: 'To', class: 'experience-edit-text input-upright' %><br>
      <%= f.text_area :description, placeholder: 'Description', class: 'experience-edit-textarea' %><br>
      <%= f.submit %>
  <% end %>
</div>
