<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @profile_experience.profile_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile_experience.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @profile_experience.position %>
</p>

<p>
  <strong>From date:</strong>
  <%= @profile_experience.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @profile_experience.to_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile_experience.description %>
</p>

<%= link_to 'Edit', edit_profile_experience_path(@profile_experience) %> |
<%= link_to 'Back', profile_experiences_path %>
