<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Receiver</th>
      <th>Sender</th>
      <th>Request type</th>
      <th>Request type</th>
      <th>Message</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.receiver_id %></td>
        <td><%= request.sender_id %></td>
        <td><%= request.request_type %></td>
        <td><%= request.request_type_id %></td>
        <td><%= request.message %></td>
        <td><%= request.link %></td>
        <% if request.request_type == 'project_task' %>
          <td> <%= button_to 'Accept', accept_task_path( user_id: request.sender_id, 
            task_id: request.request_type_id,
            link: request.link,
            request_id: request.id) %> 
        </td>
        <% elsif request.request_type == 'project_position' %>
          <td> <%= button_to 'Accept', accept_project_path( user_id: request.sender_id, 
            position_id: request.request_type_id,
            link: request.link,
            request_id: request.id) %> 
        </td>
        <% end %>
        <td><%= link_to 'Show', request_path(request.id ) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
