<%= form_for(@user_to_interest) do |f| %>
  <% if @user_to_interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_to_interest.errors.count, "error") %> prohibited this user_to_interest from being saved:</h2>

      <ul>
      <% @user_to_interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :interest_id %><br>
    <%= f.text_field :interest_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
