<% 
   project_owner = Project.get_project_owner(project.id)
%>

<div class="col-xs-4">
  <div class="project-block">
    <div class="project-photo-container">
      <%= image_tag 'cats/cat-profile.jpg', class:'project-photo' %>
    </div>
    <p class="project-title">
      <%= link_to project.title, project %>
    </p>
    <p class="project-description">
      <%= project.short_description %>
    </p>
    <p class="project-owner">
      <% if project_owner.first_name %>
        <%= project_owner.first_name %>
        <%= ", #{project_owner.profile.location}" if project_owner.profile.location %>
      <% end %>
    </p>
  </div>
  <%# link_to 'Show', project %>
  <%# link_to 'Edit', edit_project_path(project) %>
  <%# link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
