<% provide(:title, 'All projects') %>
<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<h4><%= link_to 'New Project', new_project_path %></h4>
<br>

<%= form_tag projects_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<% end %>

<table class="pretty">

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.short_description %></td>
      <td><%= project.long_description %></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



