<% 
   project_owner = Project.getProjectOwner(@project.id)
%>
<div class="container">
    <div class="project-info section-container">
      <div class="row">
        <div class="project-photo-container">
          <%= image_tag 'cats/cat-profile.jpg', class:'project-photo col-md-3' %>
        </div>
        
        <div class="col-md-6">    
          
          <div style="display:inline-block">
            <p class="project-title">
              <%= @project.title %>
            </p>
            <% if @is_owner %>
              <%= link_to 'Manage', controller: 'projects', action: 'manage' %> 
            <% end %>
          </div>

          <p class="project-owner">
            <%= project_owner.first_name %>
            <%= ", #{project_owner.profile.location}" if project_owner.profile.location %>
          </p>

          <p class="project-description">
            <strong>Long description:</strong>
            <%= @project.long_description %>
          </p>

          <div class="tags-row">
            <p>Tags: </p>
            <%= render @project.project_to_tags %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="follow-button">
            <% unless @user_project_follow %>
              <%= render 'projects/follow', user_project_follow: UserProjectFollow.new %>
              <% else %>
                  <%= render 'projects/unfollow', user_project_follow: @user_project_follow %>
              <% end %>
          </div>
          <div>
            <div>
              <%= link_to 'See open tasks', project_tasks_path(@project) %>
            </div>
            <div>
              <%= link_to 'Go to core member page', controller: 'projects', action:'core_project' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:20px">
        <%= link_to  "Activity Feed", "/project/switch/#{@project.id}?tab=Activities", remote: true, class: 'col-md-3' %>
        
        <%= link_to  "Discussions", "/project/switch/#{@project.id}?tab=Discussions", remote: true, class: 'col-md-3' %>
        
        <%= link_to  "Members", "/project/switch/#{@project.id}?tab=Members", remote: true, class: 'col-md-3' %>
        
        <%= link_to  "Needs", "/project/switch/#{@project.id}?tab=Needs", remote: true, class: 'col-md-3' %>
      </div>

    </div>
  
    <div id="tabs-body" class="tabs-section">
      <%= render 'projects/discussions' %>
    </div>
  

</div>