<% 
   project_owner = Project.getProjectOwner(@project.id)
%>
<div class="container">
  <div class="project-info">
    <% if @is_owner %>
      <%= link_to 'Edit', edit_project_path(@project) %> 
    <% end %>

    <p class="row title-row">
        <strong>Title:</strong>
        <%= @project.title %>
    </p>

    <div class="row"> 
      <p class="project-owner">
        <%= project_owner.first_name %>
        <%= ", #{project_owner.location}" if project_owner.profile.location %>
      </p>
      <div class="follow-button">
        <% unless @user_project_follow %>
          <%= render 'projects/follow', user_project_follow: UserProjectFollow.new %>
          <% else %>
              <%= render 'projects/unfollow', user_project_follow: @user_project_follow%>
          <% end %>
      </div>
    </div>

    <p class="row description-row">
        <strong>Long description:</strong>
        <%= @project.long_description %>
    </p>

    <div class="row tags-row">
      <h3>Tags</h3>
      <%= render @project.project_to_tags %>
    </div>

    <div class="row tabnames-row">
      <h3>Activity Feed</h3>
      <h3>Discussion</h3>
      <h3>Members</h3>
      <h3>Needs</h3>
    </div>
  </div>

  <div class="tabs-section">
    <div>
      <%= render 'projects/activities' %>
    </div>
    <div>
      <%= render 'projects/discussions' %>
    </div>
    <div>
      <%= render @project.user_to_projects %>
    </div>
    <div>
      <%= render @project.project_tasks %>
    </div>
    <div>
      <%= render 'projects/needs' %>
    </div>
  </div>

</div>

    <%# if @user_to_project and @is_owner %>
        <%#= link_to 'Manage Users', user_to_projects_path(project: @project) %>
        <%#= link_to 'Manage Tags', project_to_tags_path(project: @project) %>
        <%#= link_to 'Manage Tasks', project_tasks_path(project: @project) %>
    <%# end %>