<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @project.short_description %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @project.long_description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<br />

User To Project: <%= @project_user_class.name %>

<% if @user_logged_in %>
    <% unless @user_project_follow %>
        <%= button_to 'Follow', user_project_follows_path(project_id: @project) %>
    <% else %>
        <%= button_to 'Unfollow', @user_project_follow, method: 'delete' %>
    <% end %>
<% end %>

<h3>Users</h3>
<ul>
  <%= render(@project.user_to_projects) %>
</ul>