<% 
   project_owner = Project.getProjectOwner(@project.id)
%>
<div class="container">
  <div class="project-info">
    <% if @is_owner %>
      <%= link_to 'Edit', edit_project_path(@project) %> 
    <% end %>

    <p class="row title-row">
        <strong>Title:</strong>
        <%= @project.title %>
    </p>

    <div class="row">
      <div class="project-photo-container col-md-6">
        <%= image_tag 'cats/cat-profile.jpg', class:'project-photo' %>
      </div>

       <p class="project-description col-md-6">
          <strong>Long description:</strong>
          <%= @project.long_description %>
      </p>
    </div>

    <div class="row"> 
      <p class="project-owner col-md-6">
        <%= project_owner.first_name %>
        <%= ", #{project_owner.profile.location}" if project_owner.profile.location %>
      </p>
      <div class="follow-button col-md-6">
        <% unless @user_project_follow %>
          <%= render 'projects/follow', user_project_follow: UserProjectFollow.new %>
          <% else %>
              <%= render 'projects/unfollow', user_project_follow: @user_project_follow%>
          <% end %>
      </div>
    </div>

    <div class="row tags-row">
      <p>Tags: </p>
      <%= render @project.project_to_tags %>
    </div>

    <div class="row tabnames-row">
      <%= link_to  "Activity Feed", "/project/switch/#{@project.id}?tab=Activity", remote: true, class: 'col-md-3' %>
      
      <%= link_to  "Discussions", "/project/switch/#{@project.id}?tab=Discussions", remote: true, class: 'col-md-3' %>
      
      <%= link_to  "Members", "/project/switch/#{@project.id}?tab=Members", remote: true, class: 'col-md-3' %>
      
      <%= link_to  "Needs", "/project/switch/#{@project.id}?tab=Needs", remote: true, class: 'col-md-3' %>
    </div>
  </div>

  <div id="tabs-body" class="tabs-section">
    <div id="project-discussion-container">
      <%= render 'projects/discussions' %>
    </div>
    <!-- <div>
      <%= render 'projects/activities' %>
    </div>
    <div>
      <%= render @project.user_to_projects %>
    </div>
    <div>
      <%= render @project.project_tasks %>
    </div>
    <div>
      <%= render 'projects/needs' %>
    </div> -->
  </div>

</div>

    <%# if @user_to_project and @is_owner %>
        <%#= link_to 'Manage Users', user_to_projects_path(project: @project) %>
        <%#= link_to 'Manage Tags', project_to_tags_path(project: @project) %>
        <%#= link_to 'Manage Tasks', project_tasks_path(project: @project) %>
    <%# end %>