<%= form_for(@user_to_project_task) do |f| %>
  <% if @user_to_project_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_to_project_task.errors.count, "error") %> prohibited this user_to_project_task from being saved:</h2>

      <ul>
      <% @user_to_project_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_task_id %><br>
    <%= f.number_field :project_task_id %>
  </div>
  <div class="field">
    <%= f.label :relation %><br>
    <%= f.text_field :relation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
