<p id="notice"><%= notice %></p>

<h1>Listing User To Project Tasks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project task</th>
      <th>Relation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_to_project_tasks.each do |user_to_project_task| %>
      <tr>
        <td><%= user_to_project_task.user_id %></td>
        <td><%= user_to_project_task.project_task_id %></td>
        <td><%= user_to_project_task.relation %></td>
        <td><%= link_to 'Show', user_to_project_task %></td>
        <td><%= link_to 'Edit', edit_user_to_project_task_path(user_to_project_task) %></td>
        <td><%= link_to 'Destroy', user_to_project_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User to project task', new_user_to_project_task_path %>
