<p id="notice"><%= notice %></p>

<h1>Listing User To Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Project user class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_to_projects.each do |user_to_project| %>
      <tr>
        <td><%= user_to_project.user_id %></td>
        <td><%= user_to_project.project_id %></td>
        <td><%= user_to_project.project_user_class %></td>
        <td><%= link_to 'Show', user_to_project %></td>
        <td><%= link_to 'Edit', edit_user_to_project_path(user_to_project) %></td>
        <td><%= link_to 'Destroy', user_to_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User to project', new_user_to_project_path %>
