<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= subscribe_to "/inbox/#{current_user_id}" %>

<!--Wraps everything but the footer. This makes the footer sticky-->
<div id="content-wrap">

  <!--Navigation bar-->
  <%= render 'layouts/navigation_bar' %>

  <!--Log In-->
  <%= render 'authentication/log_in_portal' %>

  <!--Sign Up-->
  <%= render 'authentication/sign_up_portal' %>

  <!--Template-->
  <div class="template-wrap <%= controller.controller_name %>">
    <div class="flash-messages">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>
    </div>
    <!--Yield-->
    <%= yield %>
  </div>

</div>

<!--Bottom footer-->
<%= render 'layouts/footer' %>

</body>
</html>
