<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon_2.ico' %>
  <%= csrf_meta_tags %>
</head>

<body>
<!--Loading screen-->
<div class="outer-centering loading-screen">
  <div class="middle-centering">
    <div class="inner-centering loading-container">
      <img class="loading-vector" src="<%= image_path 'loading-bubbles.svg' %>" />
    </div>
  </div>
</div>

<!--Top banner-->
<div class="container">
  <div class="banner">
    <div class="logo-img float-left"></div>
    <div class="float-left logo-txt">
      <span>ConNextor</span>
    </div>
    <button class="sign-up-button btn-inverse float-right scroll-to-invite">Sign up</button>
  </div>
</div>

<!--Template-->
<div class="<%= controller.controller_name %>">
  <%= yield %>
</div>

<!--Bottom footer-->
<div class="footer">
  <div class="container">
    <span class="copyright-txt float-left">&copy 2014 ConNextor. All rights reserved</span>
    <a href="mailto:elva@connextor.co?Subject=Hi, I want to learn more about your project!" target="_blank"><span class="contact-us float-right">Contact us</span></a>
  </div>
</div>
</body>
</html>
